ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Actual Clickable Forums*/
li {
  background: var(--gradient);
  width: 95%;

  border-radius: 1rem;
  border: var(--border);
  border-top: solid 1px var(--highlight);

  padding-top: 10px;
  padding-left: 1%;
  margin: 3px 1.2% 20px 0;

  box-shadow: var(--shadow);
}

li:hover {
  background: var(--gradient-hover);
  cursor: pointer;
}

a {
  color: var(--text);
  text-decoration: none;
}

h4 {
  margin-bottom: 0;
}

.subtitle {
  display: flex;
}

.timestamp,
.commentcount {
  padding-right: 5px;
  color: #6e6e6e;
}

/*forum-main styles*/
#newpost {
  padding: 15px;
  border-radius: 1em;
  position: fixed;
  bottom: 115px;
  right: 5%;
  background-color: var(--primary);
  color: var(--text);
}

#newpost:hover {
  transition: background-color 0.3s;
  background-color: oklch(60% 0.15 251);
  cursor: pointer;
}

#newpost a {
  text-align: center;
  color: var(--highlight);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newpost #plus {
  font-size: 24px;
  margin-right: 10px;
}

/* forumpost styles */
.header {
  margin: 0 2%;
}

.user {
  padding-top: 6px;
}

.comments {
  margin: 20px 2%;
}

.comment-top {
  display: flex;
}

.comment-top .timestamp {
  padding: 6px 0 0 5px;
}

.commentinput {
  margin:0 2% 0 3%;
}

textarea {
  width: 50%;
}

#postCommentButton {
  margin-top: 15px;
  background-color: var(--primary);
  font-family: "Zalando Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial;
  color: beige;
  border: none;
  font-size: medium;
  border-radius: 1em;
  width: 90px;
  height: 35px;
}

#postCommentButton:hover {
  transition: background-color 0.3s;
  background-color: oklch(60% 0.15 251);
  cursor: pointer;
}

.commentinput button {
  display: block;
}

.comment {
  margin-bottom: 30px;
}

.reply {
  padding: 0 0 20px 40px;
  margin: 5px 0 0 15px;
  border-left: solid;
  border-color: #b1b1b1;
}

/*forumnew styles */
#content {
  height: 9em;
}
