h2 {
  text-align: center;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}

header {
  background-color: var(--bg);
}

header h1 {
  color: #343a40 !important;
}

.topContainer {
  padding: 20px;
  margin: 20px;
  border-radius: 2em;
  background-color: var(--bg);
  border: var(--border);
  border-top: solid 1px var(--highlight);
  box-shadow: var(--shadow);
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

#filters button {
  border-radius: 2em;
  border: var(--border);
  border-top: solid 1px var(--highlight);
  box-shadow: var(--shadow);

  padding: 8px 18px;
  color: var(--text);
  background-color: var(--bg-light);
  transition: all 0.2s ease;
}

#filters button:hover,
#filters button.active {
  background-color: #444;
  color: #fff;
  border-color: #444;
}

#map {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#searchBox {
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
}

#locateBtn {
  position: absolute;
  top: 10px; /* distance from top of map */
  left: 10px; /* distance from right edge */
  z-index: 10; /* make sure it stays above the map */
  border-radius: 25px;
  padding: 8px 18px;
  font-weight: 500;
  background-color: #444;
  color: white;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#locateBtn:hover {
  background-color: #222;
}
