body {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  color: #333;
}

h2 {
  text-align: center;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}

header {
  background-color: #fff;
}

header h1 {
  color: #343a40 !important;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

#filters button {
  border-radius: 20px;
  padding: 8px 18px;
  color: #444;
  border-color: #555;
  transition: all 0.2s ease;
}

#filters button:hover,
#filters button.active {
  background-color: #444;
  color: #fff;
  border-color: #444;
}

#map {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#searchBox {
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
}

#locateBtn {
  position: absolute;
  top: 10px; /* distance from top of map */
  left: 10px; /* distance from right edge */
  z-index: 10; /* make sure it stays above the map */
  border-radius: 25px;
  padding: 8px 18px;
  font-weight: 500;
  background-color: #444;
  color: white;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#locateBtn:hover {
  background-color: #222;
}
footer {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  text-align: center;
  padding-top: 10px;
  background-color: #222;
  color: rgb(180, 180, 180);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a img {
  height: 55px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

footer a img:hover {
  transform: scale(1.1);
}
