/* reset default page spacing that causes a white gap */
html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 80vw;
}

#name-container {
  display: grid;
  grid-template-rows: auto auto;
}

.profile-container {
  background-color: var(--bg);
  width: 100%;
  padding: 2%;
  margin: auto;

  border: var(--border);
  border-top: solid 1px var(--highlight);
  box-shadow: var(--shadow);
}

.profile-container h3,
.profile-container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 90%;
  margin: 20px 0;
}

#banner-img {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100vw;
  max-width: 100%;
  height: 30vh;
  margin: 0;
  padding: 0;
  border: none;
  object-fit: cover;
  background-color: #4f92ff;
}

#profile-picture {
  width: 140px; /* puedes ajustar el tamaño */
  height: 140px;
  border-radius: 50%; /* ❤️ círculo perfecto */
  object-fit: cover; /* recorta la imagen sin deformarla */
  aspect-ratio: 1 / 1; /* 👈 asegura que SIEMPRE sea cuadrado */
  overflow: hidden;
}

#name-bar {
  width: 100vw;
  height: 60px;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #b4b4b4;
  align-items: center;
  justify-content: left;
}

#displayName {
  display: block;
  text-align: center;
  margin: 0;
  color: white;
  margin-left: 2vw;
}
