@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
  font-family: Zalando Sans;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#popupcontainer{
  display: flex;
  justify-content: center;
  align-items: center;

}

#popup {
  margin-top: 500px;
  width: 70%;
  position: absolute;
  border: solid;
  border-color: #b1b1b1;
  text-align: center;
  padding: 0 5% 20px;
  border-radius: 15%;
}

footer {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  text-align: center;
  padding-top: 10px;
  background-color: #333;
  color: rgb(179, 179, 179);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#map img {
  height: 60px;
  border-radius: 50%;
}

#forum img {
  height: 60px;
  border-radius: 50%;
}

#profile img {
  height: 60px;
  border-radius: 50%;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px;
}
