@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: Zalando Sans;
  background: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#popupcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup {
  margin-top: 500px;
  width: 70%;
  position: absolute;
  border: solid;
  border-color: #b1b1b1;
  text-align: center;
  padding: 0 5% 20px;
  border-radius: 15%;
}

footer {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  text-align: center;
  padding-top: 10px;
  background-color: #333;
  color: rgb(179, 179, 179);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#map img {
  height: 60px;
  border-radius: 50%;
}

#forum img {
  height: 60px;
  border-radius: 50%;
}

#profile img {
  height: 60px;
  border-radius: 50%;
}

.search-container {
  display: flex;
  align-items: center;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 25px;
  overflow: hidden;

  /* Stretch across page horizontally */
  width: 100%; /* occupies ?0% of the screen width */
  /*max-width: 1000px; /* optional: limit on very large screens */
}

.search-input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 18px;
}

.search-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

.search-button:hover {
  background: #0056b3;
}
